* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
    @import url(https://fonts.googleapis.com/css?family=Tinos:regular,italic,700,700italic);
    @import url(https://fonts.googleapis.com/css?family=Cookie:regular);
}

img {
    max-width: 100%;
 }

span {
    transition: color 0.123s linear;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    padding: 35px 0;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 100px;
    max-height: 68px;
}

.nav {
    font-family: 'Open Sans';
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding-left: 290px;
    gap: 23px;
}

.nav span {
    font-size: 14px;
    font-weight: 700;
}

.nav span:hover {
    color: rgb(204, 22, 22);
}

.btn{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    transition: background 0.123s linear;
}
.btn:hover {
    background: #a7530f;
}

.tel_number {
    display: flex;
    align-items: center;
    gap: 6px;
}
.tel p {
    font-size: 14px;
    font-weight: 400;
    display: inline;
}

.phone, .btn{
    font-family: 'Open Sans';
    text-decoration: none;
    color: #fff;
    transition: color 0.123s linear;
}

.phone:hover {
    color: rgb(204, 22, 22);
}

.btn {
    background: #FF7400;
    padding: 14px 18px;
    transition: background 0.123s linear;
}

.cart_logo {
    border-right: 1px solid #fff;
    padding-right: 15px;
    line-height: 51px;
}

.hero {
    padding-top: 300px;
    background-image: url(img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__content {
    max-width: 560px;
    text-align: center;
    padding-bottom: 231px;
}

.hero__title {
    font-family: 'Tinos', sans-serif;
    color: #D67E35;
    margin: 0 auto;
}

.hero__title h2{
    font-size: 50px;
    font-weight: 400;
}

.hero__title h1{
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 12px;
}

.hero__paragraph {
    font-family: 'Open Sans';
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 21px;
}

.hero__paragraph p{
    margin: 0 8px;
}

.hero__child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn__hero {
    padding: 14px 28px;
    margin: 0 auto;
}

.cards__container, .menu__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.subtitle__cards {
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 26px;
    color: #2C2C2C;
    align-self: flex-start;
}

.subtitle__cards p {
    color: #656363;
}

.subtitle__cards span {
    color: #BC9060;
}

.cards {
    margin: -107px 0 150px 0;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 62px 20px 24px;
}

.history__container {
    max-height: 980px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 122px;
}

.history__subtitle {
    text-align: center;
    max-width: 444px;
}

.history__subtitle h2 {
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    margin: 21px 0;
}

.history__subtitle span {
    color: #D67E34;
}

.history__subtitle p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #656363;
    margin-bottom: 78px;
    line-height: 22px;
}

.left__block {
    max-height: 343px;
    max-width: 444px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.amount__container {
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
    gap: 20px;
    margin-left: -20px;
}

.amount {
    text-align: center;
    width: 84px;
}

.amount span {
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #BC9060;
}

.amount p {
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    padding-top: 13px;
}
.images {
    max-width: 539px;
    max-height: 498px;
}

.history__footer {
    background-image: url(img/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    max-height: 357px;
    padding: 80px 0;
    margin-bottom: 132px;
}

.history__footer h2 {
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 52px;
    line-height: 60px;
    color: #D67E34;
}

.history__footer span{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

.flex__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtitle__offers, .subtitle{
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 54px;
    color: #000000;
    margin-bottom: 132px;
    text-align: center;
}

.subtitle__offers span {
    color: #D67E34;
}

.gallery__item_1 {
    max-width: 710px;
    max-height: 475px;
}

.gallery__item_2-4 {
    max-width: 160px;
    max-height: 140px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.gallery__item_5-7 {
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.gallery__item_5-7 img{
    padding: 0 7px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 152px;
}

.menu {
    background-image: url(img/bar-1869656_1920\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1034px;
}

.menu__subtitle {
    text-align: center;
    padding: 98px 0 138px 0;
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    color: #FFFFFF;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.burgers {
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 80px 0 30px 0;
    gap: 20px;
    margin-bottom: 210px;
}

.burgers a {
    max-height: 510px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 14px 66px;
    background: #D67E34;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.card__1 {
    position: relative;
}

.rec {
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    background: #D67E34;
    padding: 9px 11px;
}

.hamburger__container img{
    border-radius: 50%;
}

.hamburger {
    position: relative;
    max-width: 225px;
    max-height: 225px;
}

.price span {
    border-radius: 50%;
    border: 7px solid #FFFFFF;
    padding: 34px 30px;
    font-family: 'Cookie';
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    background: #D67E34;
    position: absolute;
    right: 0;
    bottom: 0;
}

.about__burger {
    width: 100%;
}

.about__burger h3 {
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 26px;
    color: #000000;
    text-align: center;
    padding-bottom: 16px;
}

.about__burger span {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.review__container {
    padding: 104px 0 107px 0;
    background: #E6E5E5;
    margin-bottom: 100px;
}

.review__text {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    text-align: center;
    margin-bottom: 23px;
}

.review__person img {
    border-radius: 50%;
}

.review__person a{
    width: 100%;
}

.review__person {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 9px;
}

.review__person span {
    margin-top: -5px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.span_1 {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.review__pages a{
    text-decoration: none;
}

.gallery__subtitle {
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
    text-align: center;
    margin-bottom: 60px;
}

.gallery__subtitle span {
    color: #D67E34;
}

.gallery__menu {
    position: relative;
    padding-bottom: 100px;
}

.gallery__area {
    max-height: 580px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.gallery__area a {
    overflow: hidden;
}

.gallery__area img {
    transition: 1s;
    display: block;
}

.gallery__area img:hover {
    transform: scale(1.2);
}

.left_g, .right_g {
    max-height: 100px;
    position: absolute;
    margin-top: 120px;
}

.left_g {
    left: 0;
}

.right_g {
    right: 0;
}

.subtitle__chefs {
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
    text-align: center;
    padding-bottom: 107px;
}

.subtitle__chefs span {
    color: #D67E34;
}

.chef__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 31px;
    padding-bottom: 100px;
}

.chef__cards a {
    overflow: hidden;
}

.chef__cards img {
    transition: 1s;
    display: block;
}

.chef__cards img:hover {
    transform: scale(1.2);
}

.footer {
    background-image: url(img/st-826688_1920\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 732px;
}